.app.dark {
  --bg-color: #5d3891;
  --inverted-bg-color: #e8e2e2;

  --primary-color: #f99417;
  --secondary-color: #5d3891;
  --text-color: #f5f5f5;
  --button-bg-color: #5d3891;
  --button-text-color: #e8e2e2;
  --button-icon-color: #f99417;

  --inverted-primary-color: #5d3891;
  --inverted-secondary-color: #f99417;
  --inverted-button-text-color: #e8e2e2;
}
