.app.light {
  --bg-color: #e8e2e2;
  --sidebar-bg-color: #b0a3c0;
  --inverted-bg-color: #5d3891;

  --primary-color: #5d3891;
  --secondary-color: #f99417;
  --text-color: #333232;
  --button-bg-color: #e8e2e2;
  --button-text-color: #e8e2e2;
  --button-icon-color: #f99417;

  --inverted-primary-color: #f99417;
  --inverted-secondary-color: #5d3891;
  --inverted-button-text-color: #5d3891;
}
