.app.light {
  --bg-color: #e8e2e2;
  --inverted-bg-color: #5d3891;

  --primary-color: #5d3891;
  --secondary-color: #f99417;
  --text-color: #333232;

  --inverted-primary-color: #f99417;
  --inverted-secondary-color: #5d3891;
}
